body{
    background-color:rgb(248, 244, 238);
}
.container{
    padding: 20px 50px 110px 50px;
}
.address{
    position:relative;
    border:none;
    height:140px;
    display:block;
    padding-right: 20px;
    text-align: right;
}
.name{
    position: relative;
    border: 1px solid transparent;
    background-color: teal; 
    padding: 2px 10px;
    text-align: center;
    font-size: 18;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
h1{
    font-weight: 200;
}
.sections{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}
.content{
    display: flex;
    border:none;
    border-bottom: 1px solid black;
}
.info1{
    width: 30vw;
    text-transform: uppercase;
}
.info{
    width:60vw;
    font-size: 20;
    line-height: 30px;

}

@media screen and (max-width: 1700px){  
    .address{
         position: relative;
         border: none;
         display: flex;
        justify-content: space-between;
        height:auto;
        font-size: 24px;
    }
    .name{
        position: relative;
        border: 1px solid transparent;
        background-color: teal; 
        padding: 2px 10px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        

    }
    .info{
        width:60vw;
        font-size: 24px;
        line-height: 30px;
    
    }
    .container{
        padding: 20px 50px 770px 50px;
    } 
    h1{
        font-size: 30px;
    }

} 

@media screen and (max-width: 1010px){  
    .address{
         position: relative;
         border: none;
         display: flex;
        justify-content: space-between;
        height:auto;
        font-size: 24px;
        flex-direction: column;
    }
    .name{
        position: relative;
        border: 1px solid transparent;
        background-color: teal; 
        padding: 2px 10px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        

    }
    .info{
        width:60vw;
        font-size: 24px;
        line-height: 30px;
    
    }
    .container{
        padding: 20px 50px 770px 50px;
    } 
    h1{
        font-size: 30px;
    }

} 

@media screen and (max-width: 1100px){  
    .address{
         position: relative;
         border: none;
         display: flex;
        justify-content: space-between;
        height:auto;

    }
    .name{
        position: relative;
        border: 1px solid transparent;
        background-color: teal; 
        padding: 2px 10px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        

    }
    .container{
        padding: 20px 50px 770px 50px;
    } 
    h1{
        font-size: 17px;
    }

}   

  @media screen and (max-width: 850px){  
    .address{
         position: relative;
         border: none;
         display: flex;
        justify-content: space-between;
        height:auto;

    }
    .name{
        position: relative;
        border: 1px solid transparent;
        background-color: teal; 
        padding: 2px 10px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        

    }
    h1{
        font-size: 17px;
    }
}   

@media screen and (max-width: 770px){  
    .address{
         position: relative;
         border: none;
         display: flex;
        justify-content: space-between;
        height:auto;

    }
    .name{
        position: relative;
        border: 1px solid transparent;
        background-color: teal; 
        padding: 2px 10px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        

    }
    .container{
        padding: 20px 50px 400px 50px;
    } 
    h1{
        font-size: 17px;
    }

}   
@media screen and (max-width: 670px){ 
    .address{
         position: relative;
         border: none;
         display: flex;
        justify-content: space-between;
        height:auto;
        flex-wrap: wrap;

    }  
    h1{
        font-size: 15px;
    } 

    
}

@media screen and (max-width: 500px){ 
    .address{
         position: relative;
         border: none;
         display: flex;
        justify-content: space-between;
        height:auto;
        flex-wrap: wrap;
        font-size:15px;
        text-align: left;

    }  
    h1{
        font-size:15px
    } 
    .content{
        display: flex;
        border:none;
        flex-direction: column;
        border-bottom: 1px solid black;
        
    
    }
    

    .info{
        width:60vw;
        font-size: 12px;
        line-height: 30px;

}  
}
@media screen and (max-width: 380px){ 
    .address{
         position: relative;
         border: none;
         display: flex;
        /* justify-content: space-between; */
        height:auto;
        flex-wrap: wrap;
        font-size: 14px;
        text-align: left;
    }  
    h1{
        font-size: 11px
    } 
    .content{
        display: flex;
        border:none;
        flex-direction: column;
        border-bottom: 1px solid black;
        
    
    }
    

    .info{
        width:60vw;
        font-size: 12px;
        line-height: 30px;

    } 
    .container{
        padding: 20px 50px 90px 50px;
    } 

}